Tuples: A tuple is a collection of items that is ordered and unchangeable (immutable).
Tuples are defined using parentheses.

In [1]:
# Example of a tuple
fruits = ("apple", "banana", "cherry")

In [2]:
# Accessing elements in a tuple
print("The first fruit is:", fruits[0])

The first fruit is: apple

In [4]:
print("The third fruit is:", fruits[2])

The third fruit is: cherry

In [5]:
# Tuples can hold different types of data
person_info = ("John", 28, "Engineer")
print("\nPerson's name:", person_info[0])
print("Person's age:", person_info[1])
print("Person's profession:", person_info[2])

Person's name: John
Person's age: 28
Person's profession: Engineer

In [6]:
#lists
names=['Susan','Helen','Ndorongo']

print('The first name is :',names[0])

The first name is : Susan

In [7]:
names[0]='Jane'
print(names)

['Jane', 'Helen', 'Ndorongo']

In [8]:
#tuples are immutable
fruits[0]='Passion'
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [14]:
#Python functions defination
def greet(name):
  print('Hello'+' '+ name )

In [17]:
#function calling
greet('Helen')

Hello Helen

In [19]:

def add_numbers(a, b):
    return a + b

result = add_numbers(5, 3)
print(result)

8

In [20]:
def get_person_info():
    name = "Jane"
    age = 25
    profession = "Doctor"
    return (name, age, profession)

print(get_person_info())

('Jane', 25, 'Doctor')

In [21]:
#Print Attendance

all_students_list=['Susan','Helen','Ndorongo','Ndabuki','Gregory','Jane','Oluoch']
present_students=['Susan','Helen','Ndorongo']

def class_attendance(all_students,present_list):
  #print present students
  for student in present_list:
    print(student,'is present')

  #pint absent
  for student in all_students:
    if student not in present_list:
      print(student,'is absent')

class_attendance(all_students_list,present_students)

Susan is present
Helen is present
Ndorongo is present
Ndabuki is absent
Gregory is absent
Jane is absent
Oluoch is absent